<!DOCTYPE html>
<html lang="en">

<head>


	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
	<script src="main.js" defer></script>
	<script src="components/Chat.js" defer></script>
	<script src="components/TopNav.js" defer></script>
	<script src="components/SideNav.js" defer></script>
	<script src="components/UsersList.js" defer></script>
	<script src="components/ChatInput.js" defer></script>
	<script src="components/output.js" defer></script>
	<script src="components/Message.js" defer></script>
	<script src="components/Menu.js" defer></script>
	<script src="components/MainMenu.js" defer></script>
	<script src="components/Join.js" defer></script>
	<script src="components/Create.js" defer></script>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="style_index.css">
</head>

<body>

	<app-chat>
	</app-chat>


	<app-menu rooms=<%= rooms %>></app-menu>

</body>

</html>
